body{
	font-family: Arial, Sans-Serif;
    font-size: 14px;
}

#content-container{
	width: 1080px;
	margin: 0 auto;
}

h1{ font-size: 250%; margin: 20px 0 15px 5px; }
h2{ font-size: 220%; margin: 20px 0 15px 5px; }
h3{ font-size: 180%; margin: 20px 0 15px 5px; }
h4{ font-size: 160%; margin: 20px 0 15px 5px; }
h5{ font-size: 140%; margin: 20px 0 15px 5px; }
h6{ font-size: 120%;  }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

label{
	font-weight: bold;
}

fieldset{
    padding: 10px 10px 20px 10px;
}
.clearall{
	clear: both;
}

#site-title{
	height: 80px;
	float:left;
	margin: 5px 0 0px 5px;
}

#title-search-cont{
	float: right;
	height: 80px;
	margin: 20px 5px 10px 0px;
}

#top-nav-cont{
    width: 100%;
    background-color: #193587;
}

#top-nav-cont nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#top-nav-cont nav ul li {
    float: left;
    font-size: 125%;
}

#top-nav-cont nav ul li a:link, #top-nav-cont nav ul li a:visited {
    display: block;
    color: #CCCCCC;
    background-color: #193587;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

#top-nav-cont nav ul li a:hover, #top-nav-cont nav ul li a:active {
    color: #000000;
    background-color: #9999FF;
}

.default-input-text{
    border-color: #CCC;
    border-style: solid;
    padding: 8px;
    font-size: 14px;
    border-width: 1px;
    border-radius: 5px;
    background-color: #F5F5F5;
}

.default-input-btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #044770);
    background-image: -moz-linear-gradient(top, #3498db, #044770);
    background-image: -ms-linear-gradient(top, #3498db, #044770);
    background-image: -o-linear-gradient(top, #3498db, #044770);
    background-image: linear-gradient(to bottom, #3498db, #044770);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #e8e8e8;
    font-size: 14px;
    padding: 9px 20px 9px 20px;
    text-decoration: none;
    border-width: 0px;
}

.default-input-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #0073bf);
    background-image: -moz-linear-gradient(top, #3cb0fd, #0073bf);
    background-image: -ms-linear-gradient(top, #3cb0fd, #0073bf);
    background-image: -o-linear-gradient(top, #3cb0fd, #0073bf);
    background-image: linear-gradient(to bottom, #3cb0fd, #0073bf);
    text-decoration: none;
    cursor: pointer;
}

.form-tbl tr td{
    padding: 10px;
}

.default-error{
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FF9999;
    color: #FF0000;
    border-color: #FF0000;
    border: solid 2px #FF0000;
    font-size: 16px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}

#footer-divider{
    width:100%;
    height: 15px;
    background-color: #193587;
}

#footer-logo{
    float:right;
}

#footer-mini-nav{
    float: left;
}

#footer-mini-nav nav ul li{
    line-height: 20px;
    font-size: 130%;
    color: #000000;
}

#footer-mini-nav nav ul li a{
    text-decoration: none;
    color: #000000;
}

#footer-mini-nav nav ul li a:hover{
    text-decoration: underline;
}

.footer-spacer{
    margin-top: 25px;
    margin-bottom: 20px;
}

#main-content{
    min-height: 480px;
}

.default-table{
    width:100%;
    border: solid 1px #CCC;
}

.default-table tr th{
    font-size: 120%;
    font-weight:bold;
    background-color: #193587;
    color: #e8e8e8;
    padding: 6px;
}

.default-table tr td{
    padding: 6px;
    text-align: center;
    border: solid 1px #CCC;
}

.default-link-btn{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #044770);
    background-image: -moz-linear-gradient(top, #3498db, #044770);
    background-image: -ms-linear-gradient(top, #3498db, #044770);
    background-image: -o-linear-gradient(top, #3498db, #044770);
    background-image: linear-gradient(to bottom, #3498db, #044770);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #e8e8e8;
    font-size: 14px;
    padding: 4px 10px 4px 10px;
    text-decoration: none;
    border-width: 0px;
}

.red-variant{
    background: #FF3333;
    background-image: -webkit-linear-gradient(top, #FF3333, #B20000);
    background-image: -moz-linear-gradient(top, #FF3333, #B20000);
    background-image: -ms-linear-gradient(top, #FF3333, #B20000);
    background-image: -o-linear-gradient(top, #FF3333, #B20000);
    background-image: linear-gradient(to bottom, #FF3333, #B20000);
}

#listing-detail{
    float: left;
    width: 50%; 
    padding: 0 5px 5px 7px;
}

#listing-detail table tr td{
    padding: 5px 5px 5px 0;
}

#listing-image{
    float: right;
    width: 40%; 
}

#img-container{
    width: 430px;
    height: 300px;
}

#img-container img{
    max-height: 100%;
    max-width: 100%;
}

#listing-desc{
    width: 100%;
}

#listing-desc-text{
    padding: 0 7px 20px 7px; 
}

#new-listing-cont{
    float: right;   
    margin-right: 10px;
}
